{% extends 'public_page.html.twig' %}

{% set body_class = "front_page" %}

{% block content %}
        <form action="{{ url_for('do-password-recovery') }}" method="post" enctype="multipart/form-data" class="ui form">
            <div class="ui segment">
                <p class="ui yellow small message"><i class="exclamation triangle icon" aria-hidden="true"></i> {{ _T('(at least 4 characters)') }}</p>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon" aria-hidden="true"></i><label for="mdp_adh" class="visually-hidden">{{ _T('New password:') }}</label>
                        <input type="password" name="mdp_adh" id="mdp_adh" value="" required="required" autofocus placeholder="{{ _T('New password:') }}"/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon" aria-hidden="true"></i><label for="mdp_adh2" class="visually-hidden">{{ _T('Confirmation:') }}</label>
                        <input type="password" name="mdp_adh2" id="mdp_adh2" value="" required="required" placeholder="{{ _T('Confirmation:') }}"/>
                    </div>
                </div>
                <input type="submit" name="change_passwd" value="{{ _T('Change my password') }}" class="ui fluid large primary submit button"/>
                <input type="hidden" name="hash" value="{{ hash }}"/>
                {% include "components/forms/csrf.html.twig" %}
            </div>
        </form>
{% endblock %}
